<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>iotree @ AWS</title>
    {% load static %}
    <!-- The line above tells Django to be ready to listen for static files -->
    <link rel='stylesheet' href="{% static 'IndexSite/css/w3.css' %}" media='screen' title='no title' charset='utf-8'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Put the static files in the static folder inside your app. -->
    <!-- Django collects files within all static folders and puts them within a single folder -->
</head>
<style>
    html,
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: sans-serif
    }
</style>

<body class="w3-light-grey">
    <!-- Page Container -->
    <div class="w3-content w3-margin-top" style="max-width:1400px;">

        <!-- The Grid -->
        <div class="w3-row-padding">

            <!-- Menu Bar -->
            <div class="w3-bar w3-border w3-white">
                <a href="/" class="w3-bar-item w3-button w3-teal">Home</a>
                <a href="/feedback" class="w3-bar-item w3-button w3-teal w3-right">Feedback</a>
                <div class="w3-dropdown-hover w3-teal w3-right">
                    <button class="w3-button">Applications</button>
                    <div class="w3-dropdown-content w3-bar-block w3-card-4 w3-teal w3-right">
                        <a href="/campus3" class="w3-bar-item w3-button">Master Campus</a>
                        <a href="/campus2" class="w3-bar-item w3-button">Original Campus</a>
                    </div>
                </div>
            </div>
            <br>

            <!-- Left Column -->
            <div class="w3-third">

                <div class="w3-white w3-text-grey w3-card-4">
                    <div class="w3-display-container">
                        <img src="{% static 'IndexSite/pic/me.png' %}" style="width:100%" alt="Avatar">
                        <div class="w3-display-bottomleft w3-container w3-text-grey">
                            <h2>Chia Tham</h2>
                        </div>
                    </div>
                    <div class="w3-container">
                        <!-- Left Top -->
                        <p>
                            <i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Software Developer</p>
                        <p>
                            <i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Oklahoma, USA</p>
                        <p>
                            <i class="fa fa-linkedin fa-fw w3-margin-right w3-large w3-text-teal"></i>
                            <a href="https://www.linkedin.com/in/chiaweitham/" target="_blank">www.linkedin.com/in/chiaweitham/</a>
                        </p>
                        <p>
                            <i class="fa fa-github fa-fw w3-margin-right w3-large w3-text-teal"></i>
                            <a href="https://github.com/c-tham" target="_blank">github.com/c-tham</a>
                        </p>
                        <hr>
                        <!-- Left Bottom -->
                        <p class="w3-large">
                            <b>
                                <i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>DATABASE</b>
                        </p>
                        <ul>
                            <li>DB2</li>
                            <li>Microsoft Access</li>
                            <li>MongoDB</li>
                            <li>MySQL</li>
                            <li>Oracle Database</li>
                            <li>SQL Lite</li>
                        </ul>
                        <p class="w3-large">
                            <b>
                                <i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>FRAMEWORKS</b>
                        </p>
                        <ul>
                            <li>Angular</li>
                            <li>Bootstrap</li>
                            <li>Django</li>
                            <li>Flask</li>
                            <li>Object-Relational Mapping (ORM)</li>
                            <li>Seagull PHP</li>
                            <li>Wordpress</li>
                        </ul>
                        <p class="w3-large">
                            <b>
                                <i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>MAINFRAME</b>
                        </p>
                        <ul>
                            <li>
                                <a href="https://en.wikipedia.org/wiki/COBOL" target="_blank">COBOL</a>
                            </li>
                            <li>
                                <a href="https://en.wikipedia.org/wiki/Compuware" target="_blank">File-AID</a>
                            </li>
                            <li>
                                <a href="https://en.wikipedia.org/wiki/Job_Control_Language" target="_blank">Job Control Language (JCL)</a>
                            </li>
                            <li>
                                <a href="https://en.wikipedia.org/wiki/Time_Sharing_Option" target="_blank">Time Sharing Option (TSO)</a>
                            </li>
                            <li>
                                <a href="https://en.wikipedia.org/wiki/XPEDITER" target="_blank">Xpediter</a>
                            </li>
                        </ul>
                        <p class="w3-large">
                            <b>
                                <i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>MICROSOFT</b>
                        </p>
                        <ul>
                            <li>Microsoft Access</li>
                            <li>Microsoft Excel</li>
                            <li>Microsoft Outlook</li>
                            <li>Microsoft Project</li>
                            <li>Microsoft Publisher</li>
                            <li>Microsoft Visio</li>
                            <li>Microsoft Visual Studio Code</li>
                            <li>Microsoft Word</li>
                        </ul>
                        <p class="w3-large">
                            <b>
                                <i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>PROGRAMMING</b>
                        </p>
                        <ul>
                            <li>Ajax</li>
                            <li>COBOL</li>
                            <li>CSS</li>
                            <li>HTML</li>
                            <li>JavaScript</li>
                            <li>jQuery</li>
                            <li>Orale SQL Developer</li>
                            <li>PHP</li>
                            <li>Python</li>
                            <li>PL/SQL</li>
                            <li>SAP Crystal Report</li>
                            <li>SQL</li>
                            <li>TypeScript</li>
                            <li>Unix Shell Script</li>
                        </ul>
                        <p class="w3-large">
                            <b>
                                <i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>SYSTEM</b>
                        </p>
                        <ul>
                            <li>
                                <a href="https://en.wikipedia.org/wiki/Amazon_Web_Services" target="_blank">Amazon Web Services (AWS)</a>
                            </li>
                            <li>
                                <a href="http://www.compansol.com/product.php" target="_blank">Compansol Blumen (Blumen)</a>
                            </li>
                            <li>
                                <a href="http://www.compansol.com/bot.php" target="_blank">Compansol Blumen Online for TRiO (BOT)</a>
                            </li>
                            <li>
                                <a href="https://en.wikipedia.org/wiki/Customer_relationship_management" target="_blank">Customer Relationship Management (CRM)</a>
                            </li>
                            <li>
                                <a href="https://www.ellucian.com/student-information-system/" target="_blank">Ellucian Banner (Banner)</a>
                            </li>
                            <li>
                                <a href="https://www.ericsson.com/ourportfolio/digital-services-solution-areas/bscs-ix?nav=fgb_101_0906%7Cfgb_101_0795" target="_blank">Ericsson BSCS iX R2 (BSCS)</a>
                            </li>
                            <li>
                                <a href="https://en.wikipedia.org/wiki/GitHub" target="_blank">GitHub</a>
                            </li>
                            <li>
                                <a href="https://en.wikipedia.org/wiki/4690_Operating_System">IBM Supermarket Application (SA)</a>
                            </li>
                            <li>
                                <a href="https://en.wikipedia.org/wiki/Mobile_virtual_network_operator" target="_blank">Mobile Virtual Network Operator (MVNO)</a>
                            </li>
                            <li>
                                <a href="https://en.wikipedia.org/wiki/Oracle_Applications" target="_blank">Oracle E-Business Suite</a>
                            </li>
                            <li>
                                <a href="https://en.wikipedia.org/wiki/Point_of_sale" target="_blank">Point Of Sale (POS)</a>
                            </li>
                            <li>
                                <a href="https://en.wikipedia.org/wiki/Qualtrics" target="_blank">Qualtrics</a>
                            </li>
                            <li>
                                <a href="https://en.wikipedia.org/wiki/Queue_management_system" target="_blank">Queue Management System (QMS)</a>
                            </li>
                            <li>
                                <a href="https://en.wikipedia.org/wiki/VisionPLUS" target="_blank">VisionPLUS</a>
                            </li>
                        </ul>
                        <hr>
                        <p class="w3-large">
                            <b>
                                <i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>LANGUAGES</b>
                        </p>
                        <ul>
                            <li>English</li>
                            <li>Mandarin (Simplified and Traditional)</li>
                            <li>Cantonese</li>
                        </ul>
                        <br>
                    </div>
                </div>

                <br>
                <!-- End Left Column -->
            </div>

            <!-- Right Column -->
            <div class="w3-twothird">

                <div class="w3-container w3-card w3-white w3-margin-bottom">
                    <h2 class="w3-text-grey w3-padding-16">
                        <i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Project - The Original Campus Tracking Services System</h2>
                    <div class="w3-container">
                        <h6 class="w3-text-teal">
                            <i class="fa fa-link fa-fw w3-margin-right"></i>
                            <a href="http://aws.iotree.com/campus2" target="_blank">
                                aws.iotree.com/campus2
                                <span class="w3-tag w3-teal w3-round">TryMe</span>
                            </a>
                        </h6>
                        <h6 class="w3-text-teal">
                            <i class="fa fa-github fa-fw w3-margin-right"></i>
                            <a href="https://github.com/c-tham/django_CampusService2" target="_blank">
                                github.com/c-tham/django_CampusService2
                            </a>
                        </h6>
                        <h6 class="w3-text-teal">
                            <i class="fa fa-code fa-fw w3-margin-right"></i> 1518 lines of code (HTML: 785 lines, Python: 733 lines)</h6>
                        <h6 class="w3-text-teal">
                            <i class="fa fa-css3 fa-fw w3-margin-right"></i> Bootstrap 3</h6>
                        <h6 class="w3-text-teal">
                            <i class="fa fa-calendar fa-fw w3-margin-right"></i> Development: May 26 to 28, 2018</h6>
                        <p>
                            The Original Campus (aka Campus 2) tracks a persons use of services like building and office acccess, meal cards, and parking
                            permits. It also keeps track of addresses, phone numbers, emails, and office extension numbers.
                        </p>
                        <p>
                            When a person registers to the system, it will generate a college email address. The college email address will be the main
                            login information. The password is stored using bcrypt which it's generating a salt to protect
                            against rainbow table attacks.
                        </p>
                        <p>
                            The system is able to generate unique college ID, unique college email address and unique parking permit ID. I have listed
                            a college ID (under CheatSheet) in the main page for us to login. You can copy and paste it on
                            the login field.
                        </p>
                        <p>Please feel free to try out my applications. Please share your thoughts by giving feedback on the
                            form at the top right of menu bar. If you found a bug, please do not hesitate to let me know.
                        </p>
                        <p>Please use fake information when you registrate to the system. Thanks!</p>
                    </div>
                </div>

                <!-- End Grid -->
            </div>

            <!-- End Page Container -->
        </div>

        <footer class="w3-container w3-teal w3-center w3-margin-top">
            <p>iotree.com
                <i class="fa fa-copyright" aria-hidden="true"></i>
                2018
            </p>
        </footer>

</body>

</html>