<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>iotree @ AWS</title>
    {% load static %}
    <!-- The line above tells Django to be ready to listen for static files -->
    <link rel='stylesheet' href="{% static 'IndexSite/css/w3.css' %}" media='screen' title='no title' charset='utf-8'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Put the static files in the static folder inside your app. -->
    <!-- Django collects files within all static folders and puts them within a single folder -->
</head>
<style>
    html,
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: sans-serif
    }
</style>

<body class="w3-light-grey">
    <!-- Page Container -->
    <div class="w3-content w3-margin-top" style="max-width:1400px;">

        <!-- The Grid -->
        <div class="w3-row-padding">

            <!-- Left Column -->
            <div class="w3-third">

                <div class="w3-white w3-text-grey w3-card-4">
                    <div class="w3-display-container">
                        <img src="{% static 'IndexSite/pic/me.png' %}" style="width:100%" alt="Avatar">
                        <div class="w3-display-bottomleft w3-container w3-text-grey">
                            <h2>Chia Tham</h2>
                        </div>
                    </div>
                    <div class="w3-container">
                        <!-- Left Top -->
                        <p>
                            <i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Software Developer</p>
                        <p>
                            <i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Oklahoma, USA</p>
                        <p>
                            <i class="fa fa-linkedin fa-fw w3-margin-right w3-large w3-text-teal"></i>
                            <a href="https://www.linkedin.com/in/chiaweitham/" target="_blank">www.linkedin.com/in/chiaweitham/</a>
                        </p>
                        <p>
                            <i class="fa fa-github fa-fw w3-margin-right w3-large w3-text-teal"></i>
                            <a href="https://github.com/c-tham" target="_blank">github.com/c-tham</a>
                        </p>
                        <hr>
                        <!-- Left Bottom -->
                        <p class="w3-large">
                            <b>
                                <i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>DATABASE</b>
                        </p>
                        <ul>
                            <li>DB2</li>
                            <li>Microsoft Access</li>
                            <li>MongoDB</li>
                            <li>MySQL</li>
                            <li>Oracle Database</li>
                            <li>SQL Lite</li>
                        </ul>
                        <p class="w3-large">
                            <b>
                                <i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>FRAMEWORKS</b>
                        </p>
                        <ul>
                            <li>Angular</li>
                            <li>Bootstrap</li>
                            <li>Django</li>
                            <li>Flask</li>
                            <li>Object-Relational Mapping (ORM)</li>
                            <li>Seagull PHP</li>
                            <li>Wordpress</li>
                        </ul>
                        <p class="w3-large">
                            <b>
                                <i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>MAINFRAME</b>
                        </p>
                        <ul>
                            <li>
                                <a href="https://en.wikipedia.org/wiki/COBOL" target="_blank">COBOL</a>
                            </li>
                            <li>
                                <a href="https://en.wikipedia.org/wiki/Compuware" target="_blank">File-AID</a>
                            </li>
                            <li>
                                <a href="https://en.wikipedia.org/wiki/Job_Control_Language" target="_blank">Job Control Language (JCL)</a>
                            </li>
                            <li>
                                <a href="https://en.wikipedia.org/wiki/Time_Sharing_Option" target="_blank">Time Sharing Option (TSO)</a>
                            </li>
                            <li>
                                <a href="https://en.wikipedia.org/wiki/XPEDITER" target="_blank">Xpediter</a>
                            </li>
                        </ul>
                        <p class="w3-large">
                            <b>
                                <i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>MICROSOFT</b>
                        </p>
                        <ul>
                            <li>Microsoft Access</li>
                            <li>Microsoft Excel</li>
                            <li>Microsoft Outlook</li>
                            <li>Microsoft Project</li>
                            <li>Microsoft Publisher</li>
                            <li>Microsoft Visio</li>
                            <li>Microsoft Visual Studio Code</li>
                            <li>Microsoft Word</li>
                        </ul>
                        <p class="w3-large">
                            <b>
                                <i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>PROGRAMMING</b>
                        </p>
                        <ul>
                            <li>Ajax</li>
                            <li>COBOL</li>
                            <li>CSS</li>
                            <li>HTML</li>
                            <li>JavaScript</li>
                            <li>jQuery</li>
                            <li>Orale SQL Developer</li>
                            <li>PHP</li>
                            <li>Python</li>
                            <li>PL/SQL</li>
                            <li>SAP Crystal Report</li>
                            <li>SQL</li>
                            <li>TypeScript</li>
                            <li>Unix Shell Script</li>
                        </ul>
                        <p class="w3-large">
                            <b>
                                <i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>SYSTEM</b>
                        </p>
                        <ul>
                            <li>
                                <a href="https://en.wikipedia.org/wiki/Amazon_Web_Services" target="_blank">Amazon Web Services (AWS)</a>
                            </li>
                            <li>
                                <a href="http://www.compansol.com/product.php" target="_blank">Compansol Blumen (Blumen)</a>
                            </li>
                            <li>
                                <a href="http://www.compansol.com/bot.php" target="_blank">Compansol Blumen Online for TRiO (BOT)</a>
                            </li>
                            <li>
                                <a href="https://en.wikipedia.org/wiki/Customer_relationship_management" target="_blank">Customer Relationship Management (CRM)</a>
                            </li>
                            <li>
                                <a href="https://www.ellucian.com/student-information-system/" target="_blank">Ellucian Banner (Banner)</a>
                            </li>
                            <li>
                                <a href="https://www.ericsson.com/ourportfolio/digital-services-solution-areas/bscs-ix?nav=fgb_101_0906%7Cfgb_101_0795" target="_blank">Ericsson BSCS iX R2 (BSCS)</a>
                            </li>
                            <li>
                                <a href="https://en.wikipedia.org/wiki/GitHub" target="_blank">GitHub</a>
                            </li>
                            <li>
                                <a href="https://en.wikipedia.org/wiki/4690_Operating_System">IBM Supermarket Application (SA)</a>
                            </li>
                            <li>
                                <a href="https://en.wikipedia.org/wiki/Mobile_virtual_network_operator" target="_blank">Mobile Virtual Network Operator (MVNO)</a>
                            </li>
                            <li>
                                <a href="https://en.wikipedia.org/wiki/Oracle_Applications" target="_blank">Oracle E-Business Suite</a>
                            </li>
                            <li>
                                <a href="https://en.wikipedia.org/wiki/Point_of_sale" target="_blank">Point Of Sale (POS)</a>
                            </li>
                            <li>
                                <a href="https://en.wikipedia.org/wiki/Qualtrics" target="_blank">Qualtrics</a>
                            </li>
                            <li>
                                <a href="https://en.wikipedia.org/wiki/Queue_management_system" target="_blank">Queue Management System (QMS)</a>
                            </li>
                            <li>
                                <a href="https://en.wikipedia.org/wiki/VisionPLUS" target="_blank">VisionPLUS</a>
                            </li>
                        </ul>
                        <hr>
                        <p class="w3-large">
                            <b>
                                <i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>LANGUAGES</b>
                        </p>
                        <ul>
                            <li>English</li>
                            <li>Mandarin (Simplified and Traditional)</li>
                            <li>Cantonese</li>
                        </ul>
                        <br>
                    </div>
                </div>

                <br>
                <!-- End Left Column -->
            </div>

            <!-- Right Column -->
            <div class="w3-twothird">

                <div class="w3-container w3-card w3-white w3-margin-bottom">
                    <h2 class="w3-text-grey w3-padding-16">
                        <i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Welcome ...</h2>
                    <div class="w3-container">
                        <!-- <h5 class="w3-opacity">
                            <b>Background</b>
                        </h5> -->
                        <p>Here's the Django system that supporting multiple applications with their own codes, HTML, CSS, and
                            database. This main application is running it own CSS, the W3.CSS with no database. The second
                            application, the Campus 2, is running Bootstrap 3 CSS with it own database. The third application,
                            the Campus 3, is running Bootstrap 4 CSS with it own database. All the database are running independent
                            with its own tables and structures.</p>
                        <p>Multiple databases on Django are store web site sessions in flat file or cookie.</p>
                        <p>Please feel free to try around with my applications. You can start with the Campus 2 first before
                            using Campus 3. Please share with me your thought by giving feedback. If you found a bug, please
                            do not hesitate to let me know. The feedback form is at the bottom of the this page.
                        </p>
                        <p>Appreciate very much. Thank you!</p>
                    </div>
                </div>

                <div class="w3-container w3-card w3-white w3-margin-bottom">
                    <h2 class="w3-text-grey w3-padding-16">
                        <i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Project - Campus 3</h2>
                    <div class="w3-container">
                        <h6 class="w3-text-teal">
                            <i class="fa fa-link fa-fw w3-margin-right"></i>
                            <a href="http://aws.iotree.com/campus3" target="_blank">
                                aws.iotree.com/campus3
                            </a>
                        </h6>
                        <h6 class="w3-text-teal">
                            <i class="fa fa-github fa-fw w3-margin-right"></i>
                            <a href="https://github.com/c-tham/django_CampusService3" target="_blank">
                                github.com/c-tham/django_CampusService3
                            </a>
                        </h6>
                        <h6 class="w3-text-teal">
                            <i class="fa fa-code fa-fw w3-margin-right"></i> 2687 lines of code (HTML: 1534 lines, Python: 1153 lines)</h6>
                        <h6 class="w3-text-teal">
                            <i class="fa fa-css3 fa-fw w3-margin-right"></i> Bootstrap 4</h6>
                        <h6 class="w3-text-teal">
                            <i class="fa fa-calendar fa-fw w3-margin-right"></i> Development: June 30 to July 7, 2018
                            <!-- <span class="w3-tag w3-teal w3-round">Latest</span> -->
                        </h6>
                        <p>The Campus 3 is the upgrade of Campus 2 and more. The main design is to be able to have multiple
                            applications on one Django. I also add a lot of new features into the program. For example, It
                            will turn red when parking permit is expired, and green when it is still valid.</p>
                        <p>One of the major bug for Campus 2 is when database initial for the first time, the system will be
                            crash when it start running. This is because it is missing values in the database. The only way
                            to resolve the problem is to insert the values into the database manually.</p>
                        <p>Campus 3 have resolve this problem by initial the values when the values are not found in the database.
                            Moreover, it's allow admin right users to delete records. I have included a hack button to allow
                            users to be add and remove admin right. </p>
                        <p>Please use fake information when you registrate to the system. Thanks!</p>
                    </div>
                </div>

                <div class="w3-container w3-card w3-white w3-margin-bottom">
                    <h2 class="w3-text-grey w3-padding-16">
                        <i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Project - Campus 2</h2>
                    <div class="w3-container">
                        <h6 class="w3-text-teal">
                            <i class="fa fa-link fa-fw w3-margin-right"></i>
                            <a href="http://aws.iotree.com/campus2" target="_blank">
                                aws.iotree.com/campus2
                            </a>
                        </h6>
                        <h6 class="w3-text-teal">
                            <i class="fa fa-github fa-fw w3-margin-right"></i>
                            <a href="https://github.com/c-tham/django_CampusService2" target="_blank">
                                github.com/c-tham/django_CampusService2
                            </a>
                        </h6>
                        <h6 class="w3-text-teal">
                            <i class="fa fa-code fa-fw w3-margin-right"></i> 1518 lines of code (HTML: 785 lines, Python: 733 lines)</h6>
                        <h6 class="w3-text-teal">
                            <i class="fa fa-css3 fa-fw w3-margin-right"></i> Bootstrap 3</h6>
                        <h6 class="w3-text-teal">
                            <i class="fa fa-calendar fa-fw w3-margin-right"></i> Development: May 26 to 28, 2018</h6>
                        <p>The Campus project is to track a person's use of services like building and office acccess, meal
                            cards, and parking permits. It also keep track of address, personal phone number, personal email
                            address, and office extension number.</p>
                        <p>When a person registrate to the system, it will generate a college email address. The college email
                            address will be the main login information. The password is store using bcrypt which it's generating
                            a salt to protect against rainbow table attacks.</p>
                        <p>The system is able to generate unique college ID, unique college email address and unique parking
                            permit ID. I have listed a college ID (under CheatSheet) in the main page for us to login. You
                            can copy and paste it on the login field. Sorry, I will not know your password.</p>
                        <p>Please use fake information when you registrate to the system. Thanks!</p>
                    </div>
                </div>

                <div class="w3-container w3-card w3-white w3-margin-bottom">
                    <h2 class="w3-text-grey w3-padding-16">
                        <i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Project - Campus 1</h2>
                    <div class="w3-container">
                        <!-- <h6 class="w3-text-teal">
                            <i class="fa fa-link fa-fw w3-margin-right"></i>
                            <a href="http://aws.iotree.com/campus2" target="_blank">
                                aws.iotree.com/campus2
                            </a>
                        </h6> -->
                        <h6 class="w3-text-teal">
                            <i class="fa fa-github fa-fw w3-margin-right"></i>
                            <a href="https://github.com/c-tham/django_CampusService" target="_blank">
                                github.com/c-tham/django_CampusService
                            </a>
                        </h6>
                        <h6 class="w3-text-teal">
                            <i class="fa fa-calendar fa-fw w3-margin-right"></i> Development: May 25, 2018</h6>
                        <p>This is my initial campus database design with basic Django application.
                        </p>
                    </div>
                </div>

                <div class="w3-container w3-card w3-white">
                    <br>
                    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScPfw_wD1wgqZEaZa74dBWUXAeZC0rRt41ix0DrTy4PkdTE_A/viewform?embedded=true"
                        width="100%" height="2000" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
                </div>
                <!-- End Right Column -->
            </div>

            <!-- End Grid -->
        </div>

        <!-- End Page Container -->
    </div>

    <footer class="w3-container w3-teal w3-center w3-margin-top">
        <p>iotree.com
            <i class="fa fa-copyright" aria-hidden="true"></i>
            2018
        </p>
    </footer>

</body>

</html>